/* All windows */

.AnchorPane {
    -fx-background-color : #555657
}

.button {
    -fx-background-color :  #353536;
    -fx-text-fill: white
}

.button:hover {
    -fx-background-color: #cacac9;
    -fx-text-fill: black;
    -fx-transition-duration: 500ms
}

.label {
    -fx-text-fill: white
}

.text-field {
    -fx-background-color :  #353536;
    -fx-text-fill: white;
    -fx-highlight-fill: #8c8c8c
}

.text-area {
    -fx-background-radius: 0;
    -fx-background-color :  #353536;
    -fx-text-fill: white
}

.text-area .content{
    -fx-background-radius: 0;
    -fx-background-color :  #353536;
}

.text-area:focused {
    -fx-highlight-fill: #8c8c8c;
}

.context-menu {
    -fx-background-color: #353536;
    -fx-border-color: #8c8c8c;
    -fx-border-width: 1 1 1 1
}

.context-menu .menu-item .label{
    -fx-text-fill: white
}

.context-menu .menu-item:focused {
    -fx-background-color: #cacac9;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: black
}

#badFieldLabel {
    -fx-text-fill: red
}


/* Setup window*/

#warningLabel {
    -fx-text-fill: #fcba03;
    -fx-font-size: 14px;
}

/* Main window */

#rowPane1 {
    -fx-background-color: #353536;
    -fx-border-color: #8c8c8c;
    -fx-border-width: 0 0 1 0
}

#menuBar {
    -fx-background-color : #353536;
    -fx-selection-bar: #555657
}

#menuBar .menu:hover{
    
}

#menuBar .menu:hover .label{
    
}

.menu .label {
    -fx-text-fill: white
}

.menu-item .label {
    -fx-text-fill: black
}

.menu-item:focused {
    -fx-background-color: #cacac9;
}

#columnPane1 {
    -fx-background-color: #353536;
    -fx-border-color: #8c8c8c;
    -fx-border-width: 0 1 0 0 /* top right bottom left*/
}

#columnPane2 {
    -fx-background-color: transparent
}

#categoriesList {
    -fx-background-color: transparent
}

#categoriesList .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white
}

#categoriesList .list-cell:hover {
    -fx-background-color: #555657;
}

#categoriesList .list-cell:empty {
    
}