.AnchorPane {
    -fx-background-color : #28386b
}

.button {
    -fx-background-color :  #96a6d6;
    -fx-text-fill: #28386b
}

.label {
    -fx-text-fill: #bcd5eb
}

.PasswordField {
    -fx-background-color :  #96a6d6;
}

/* Setup window*/

#badPasswordsLabel {
    -fx-text-fill: red
}

#warningLabel {
    -fx-text-fill: #fcba03
}